{% extends 'admin_base.html' %}
{% block content %}
    <style>
        .submit-btn-container {
            text-align: center; /* 按钮居中 */
            margin-top: 20px; /* 顶部间距 */
        }

        /* 为整个表单添加一个外部容器，并设置其左右边距 */
        #data-form {
            margin-left: 50px; /* 调整这里的值以改变表单距离左侧的距离 */
            margin-right: 50px; /* 如果需要，也可以设置右边距 */
            /* 可以添加更多样式来美化表单，例如背景色、边框等 */
            background-color: #ffffff; /* 示例背景色 */
            padding: 20px; /* 内边距，使表单元素与边框有一定距离 */
            border: 1px solid #ffffff; /* 边框样式 */
        }

        /* 为表单组添加样式，例如间距 */
        .form-group {
            margin-bottom: 15px; /* 每个表单组之间的间距 */
        }

        /* 为提交按钮添加样式 */
        #submit-btn {
            background-color: #007bff !important;
            border-color: #007bff !important;
            margin-top: 10px; /* 提交按钮与其他表单元素之间的间距 */
        }
    </style>
    <main class="main-content">
        <div class="container-fluid">
            <!-- begin::page header -->
            <div class="page-header d-md-flex justify-content-between align-items-center">
                <div>
                    <h4>分类音乐编辑</h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">分类音乐管理</a></li>
                            <li class="breadcrumb-item active" aria-current="page">编辑分类音乐</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="page-header d-md-flex justify-content-between align-items-center">
                <div>
                    <h5><a href="javascript:history.back()">← 返回</a></h5>
                </div>
                <h4>编辑分类音乐</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form id="data-form" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="album_name">专辑：</label>
                            <input type="text" id="album_name" name="album_name" class="form-control"
                                   placeholder="请输入专辑" value="{{ results.album_name }}">

                        </div>
                        <div class="form-group">
                            <label for="category_id">音乐类别：</label>
                            <select id="category_id" name="category" class="form-control" required>
                                <option value="">请选择音乐类别</option>
                                {% for category in music_categories %}
                                    <option value="{{ category.id }}"
                                            {% if category.id == results.category_id %}selected{% endif %}>
                                        {{ category.category }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="cover_url">封面：</label>
                            {% if results.cover_url %}
                                <div>
                                    <img src="{{ results.cover_url }}" alt="当前封面"
                                         style="max-width: 200px; max-height: 200px; margin-bottom: 10px;">
                                    <p>当前图片: {{ results.cover_url.split('/')[-1] }}</p>
                                </div>
                            {% endif %}
                            <input type="file" id="cover_url" name="cover_url" class="form-control" accept="image/*">
                        </div>
                        <div class="form-group" style="display: none;">
                            <label for="id">ID：</label>
                            <input type="text" id="id" name="id" class="form-control"
                                   placeholder="后台自动生成" value="{{ results.id }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="playlist_id">歌单ID：</label>
                            <input type="text" id="playlist_id" name="playlist_id" class="form-control"
                                   placeholder="请输入歌单ID" value="{{ results.playlist_id }}" required>

                        </div>
                        <div class="form-group">
                            <label for="popularity">欢迎度：</label>
                            <input type="text" id="popularity" name="popularity" class="form-control"
                                   placeholder="请输入欢迎度" value="{{ results.popularity }}" required>

                        </div>
                        <div class="form-group">
                            <label for="singer_name">歌手：</label>
                            <input type="text" id="singer_name" name="singer_name" class="form-control"
                                   placeholder="请输入歌手" value="{{ results.singer_name }}" required>

                        </div>
                        <div class="form-group">
                            <label for="song_id">歌曲ID：</label>
                            <input type="text" id="song_id" name="song_id" class="form-control"
                                   placeholder="请输入歌曲ID" value="{{ results.song_id }}" required>

                        </div>
                        <div class="form-group">
                            <label for="song_name">歌曲名称：</label>
                            <input type="text" id="song_name" name="song_name" class="form-control"
                                   placeholder="请输入歌曲名称" value="{{ results.song_name }}" required>

                        </div>
                        <div class="submit-btn-container">
                            <button type="button" class="btn btn-primary" id="submit-btn">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            $('#submit-btn').click(function () {
                // 获取表单数据
                var form = $('#data-form')[0];
                var formData = new FormData(form);

                // 查找所有 required 的输入框
                var requiredInputs = $(form).find('input[required]');
                // 验证所有字段是否为空
                var isEmptyField = false;
                requiredInputs.each(function () {
                    var input = $(this);
                    if (!input.val()) {
                        Swal.fire({
                            text: '请填写所有必填项',
                            icon: 'warning',
                            timer: 2000, // 提示框显示2000毫秒
                            timerProgressBar: true,
                        });
                        isEmptyField = true;
                        return false; // 终止循环
                    }
                });
                if (isEmptyField) {
                    return; // 如果有空字段，停止继续执行
                }
                // 发送 AJAX 请求
                $.ajax({
                    url: '/category_muisc/edit', // 替换为后台处理 URL
                    type: 'POST',
                    processData: false, // 告诉 jQuery 不要处理发送的数据
                    contentType: false, // 告诉 jQuery 不要设置内容类型
                    data: formData,
                    success: function (response) {
                        if (response.status === 200) {
                            // 处理成功响应
                            Swal.fire({
                                text: response.message,
                                icon: 'success',
                                timer: 2000, // 提示框显示2000毫秒
                                timerProgressBar: true,
                                willClose: () => {
                                    // 修改 URL 以触发导航
                                    window.location.href = document.referrer;
                                    // 延迟刷新页面
                                    setTimeout(() => {
                                        location.reload();
                                    }, 1000); // 1秒后刷新页面
                                },
                            });

                        } else if (response.status === 500) {
                            // 处理成功响应
                            Swal.fire({
                                text: response.message,
                                icon: 'error',
                                timer: 2000, // 提示框显示2000毫秒
                                timerProgressBar: true,
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        // 处理错误响应
                        Swal.fire({
                            text: '保存失败: ' + error,
                            icon: 'error',
                            timer: 2000, // 提示框显示2000毫秒
                            timerProgressBar: true,
                        });
                    }
                });
            });
        });
    </script>

{% endblock %}